$body-background: #22283e;
$menu-background: #0d111e; //menu background
$nav-link-text-color: #504f68;
$hamburger-menu: #8387a6; //hamburger icon/menu
$yellow: #ffd700;
$white: #eff0f7;
$black: #000000;
$red: #ff0000;

