<div class="container">
  <div class="row">
    <div class="col my-5">
      <ng-container *ngIf="(user$ | async) as user; else loading">

        <app-modal #myModal (updateTab)="updateTabContent($event)"></app-modal>

        <ngb-tabset [destroyOnHide]="false" (tabChange)="onTabChange($event)" #myTabs>
          <ngb-tab title="Útmutató" *ngIf="!objects.length;">
            <ng-template ngbTabContent>
              <h1 class="mt-5">Üdvözöllek a honlapon</h1>
              <div class="container">
                <ul class="mt-5">
                  <li>
                    A plusz jelre kattintva kérhet le tetszőleges időrájási adatokat adott városra
                  </li>
                  <li>
                    A kiválasztott város törölheti is
                  </li>
                </ul>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="{{object.city.name}}" *ngFor="let object of objects;" id="{{object.city.id}}">
            <ng-template ngbTabContent>
              <div class="container my-5 text-center">
                <h4 class="text-left">Felhasználó: {{user.usernameFunction}}</h4>

                <p class="text-right">
                  <button class="btn btn-danger btn-lg" (click)="deleteCity(object.city.id)">Törlés a listából</button>
                </p>

                <h2>Időjárási adatok</h2>
                <hr>
                <h3>Város: {{object.city.name}}</h3>

                <hr>

                <h4>Hőmérséklet: {{(object.data[0].temp.day - 273.15).toFixed(0)}} °C</h4>
                <h4>Páratartalom: {{object.data[0].humidity}} %</h4>
                <h4>Légnyomás: {{object.data[0].pressure}}</h4>
                <h4>Szélerősség-irány: {{object.data[0].speed}}</h4>

                <h3 class="mt-3">5 napos hőmérséklet előrejelzés</h3>
                <ngx-line-chart [dataSets]="object.forecast" [xLabelFunction]="formatXAxisValue.bind(this)"></ngx-line-chart>

              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="modal">
            <ng-template ngbTabTitle>+</ng-template>
          </ngb-tab>

        </ngb-tabset>

      </ng-container>
      <ng-template #loading>
        <app-loading-spinner></app-loading-spinner>
      </ng-template>
    </div>
  </div>
</div>
