<div class="container">
  <div class="row">
    <div class="col my-5">
      <ng-container *ngIf="(user$ | async) as user; else loading">

        <app-modal #myModal></app-modal>

        <ngb-tabset [destroyOnHide]="false" (tabChange)="onTabChange($event)">
          <ngb-tab title="{{country}}" *ngFor="let country of countries; let i=index">
            <ng-template ngbTabContent>
              <div class="container my-5">
                Adat
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="modal">
            <ng-template ngbTabTitle>+</ng-template>
          </ngb-tab>

        </ngb-tabset>

      </ng-container>
      <ng-template #loading>
        <app-loading-spinner></app-loading-spinner>
      </ng-template>
    </div>
  </div>
</div>
