<div class="container">
  <div class="row">
    <div class="col my-5">
      <ng-container *ngIf="(user$ | async) as user; else loading">

        <app-modal #myModal (updateTab)="updateTabContent()"></app-modal>

        <ngb-tabset [destroyOnHide]="false" (tabChange)="onTabChange($event)">
          <ngb-tab title="Útmutató" *ngIf="!countries.length;">
            <ng-template ngbTabContent>
              <h1 class="mt-5">Üdvözöllek a honlapon</h1>
              <div class="container">
                <ul class="mt-5">
                  <li>
                    A plusz jelre kattintva kérhet le tetszőleges időrájási adatokat adott városra
                  </li>
                  <li>
                    A kiválasztott város törölheti is
                  </li>
                </ul>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="{{country.city.name}}" *ngFor="let country of countries;">
            <ng-template ngbTabContent>
              <div class="container my-5 text-center">
                <h4 class="text-left">Felhasználó: {{user.usernameFunction}}</h4>

                <p class="text-right">
                  <button class="btn btn-danger btn-lg" (click)="deleteCity(country.city.id)">Törlés a listából</button>
                </p>

                <h2>Időjárási adatok</h2>
                <hr>
                <h3>Város: {{country.city.name}}</h3>

                <hr>

                <h4>Hőmérséklet: {{country.main.temp}}</h4>
                <h4>Páratartalom: {{country.main.humidity}}</h4>
                <h4>Légnyomás: {{country.main.pressure}}</h4>
                <h4>Szélerősség-irány: {{country.wind.deg}}</h4>

              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="modal">
            <ng-template ngbTabTitle>+</ng-template>
          </ngb-tab>

        </ngb-tabset>

      </ng-container>
      <ng-template #loading>
        <app-loading-spinner></app-loading-spinner>
      </ng-template>
    </div>
  </div>
</div>
