@import "../../../sass/variables";

:host {
  display: block;
}

.loader {
  border: 16px solid $white;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  border-radius: 50%;
  animation: spin 2s linear infinite;

  margin:0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
