<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Helység megadása</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-search (tempCityId)="setTempCityId($event)" (enableSave)="enableSaveCity($event)"></app-search>
    <p *ngIf="cityIsStored" class="text-danger font-weight-bold">A helység már Önhöz van rendelve</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="!enableSave || cityIsStored"
            (click)="modal.close('Save click')">Hozzáadás
    </button>
  </div>
</ng-template>

<!--
<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

<hr>

<pre>{{ closeResult }}</pre>-->
