<div class="form-group">
  <div class="input-group">
    <input type="text" #newquery
           [value]="query"
           (keydown.enter)="submit(newquery.value)">
    <button (click)="submit(newquery.value)">Keresés</button>
    <br>
    <span class="mt-2 text-info">Város nevét nagy kezdőbetűvel szíveskedjék megadni</span>
  </div>
  <span class="error">{{this.warningMessage}}</span>
  <br>
  <span class="text-success font-weight-bold" *ngIf="detectCity">A keresett helység megtalálható</span>
</div>
