<div class="form-group">
  <!--<div class="input-group">
    <input type="text" #newquery
           [value]="query"
           (keydown.enter)="submit(newquery.value)">
    <button (click)="submit(newquery.value)">Keresés</button>
    <br>
    <span class="mt-2 text-info">Város nevét nagy kezdőbetűvel szíveskedjék megadni</span>

    <span class="text-success font-weight-bold" *ngIf="detectCity">A keresett helység megtalálható</span>
  </div>-->

  <div class="input-group">
    <select #newquery (change)="submit(newquery.value)">
      <option value="">Kérem válasszon</option>
      <option *ngFor="let object of countryListDB" [ngValue]="object.city.name">
        {{object.city.name}}
      </option>
    </select>
  </div>

  <br>
  <span class="error">{{this.warningMessage}}</span>

</div>
